<!-- Features section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/feature1pic.png` }}" width="250em" height="250em" alt="Ft1">
        <h2 class="h2">Virtual Try-On Technology <small class="d-none">🛡️</small></h2>
        <p>Upload a photo and watch AI-powered fitting technology overlay outfits onto your body, ensuring you find the perfect fit and style—before you buy. 
            FitPix analyzes your body shape and suggests the best size/items across different brands, reducing returns and making online shopping stress-free.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/feature3pic.png` }}" width="250em" height="250em" alt="Ft3">
        <h2 class="h2">Mix & Match Outfits <small class="d-none">🚀</small></h2>
        <p>Try on multiple items at once—combine tops, bottoms, shoes, and accessories from different brands to build complete outfits 
            and see how they work together. Use your phone’s camera to see outfits in live AR mode, 
            moving naturally with you for an even more realistic styling experience.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/feature2pic.png` }}" width="250em" height="250em" alt="Ft2">
        <h2 class="h2">Personalized Recommendations <small class="d-none">📈</small></h2>
        <p>Based on body shape, personal preferences, past try-ons, trending styles, price range, and comptability with items bought in the past,
            FitPix recommends new pieces tailored to your unique taste. FitPix additionally highlights small businesses that users may not find on their own. </p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Social Sharing & Feedback <small class="d-none">🦉</small></h2>
        <p>Get opinions before you buy! Share your virtual outfits with friends, create polls, and get feedback 
            to make confident fashion choices.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">It Starts With a Swipe <small class="d-none">✨</small></h2>
        <p>Bored and unsatisfied? FitPix allows you to swipe through a personally curated collection of tops, bottoms, and more (projected onto
            your body via AR technology) to efficiently see a high volume of outfits and how they look on you—sorta like Tinder!</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Exclusive Deals and Alerts <small class="d-none">🧰</small></h2>
        <p>Never miss a sale—Save your favorite outfits and get instant notifications when they go on sale or restock in your size,
            so you never miss out on the perfect piece at the best price.</p>
    </div>
</div>
